.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.wrap {
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.j-center {
  justify-content: center;
}

.j-end {
  justify-content: end;
}

.j-evenly {
  justify-content: space-evenly;
}

.j-between {
  justify-content: space-between;
}

.j-around {
  justify-content: space-around;
}

.a-center {
  align-items: center;
}

.h-100 {
  height: 100vh;
}

.w-10 {
  width: 10vw;
}

.w-20 {
  width: 20vw;
}

.w-30 {
  width: 30vw;
}
.w-35 {
  width: 35vw;
}

.w-50 {
  width: 50vw;
}

.w-80 {
  width: 80vw;
}

.w-100 {
  width: 100vw;
}

.h-2 {
  height: 2em;
}

.h-3em {
  height: 3em;
}

.h-20 {
  height: 20vh;
}

.h-30 {
  height: 30vh;
}

.h-50 {
  height: 50vh;
}

.h-100-p {
  height: 100%;
}

.z-2 {
  z-index: 2 !important;
}

.br-small {
  border-radius: 4px;
}
