.mg-xs {
  margin: 0.5rem;
}

.mg-s {
  margin: 1rem;
}

.mg-md {
  margin: 1.5rem;
}

.mg-lg {
  margin: 2rem;
}

.mt-none {
  margin-top: 0rem;
}

.mt-sm {
  margin-top: 1rem;
}

.mt-lg {
  margin-top: 2rem;
}

.mt-xl {
  margin-top: 2.5rem;
}

.mb-none {
  margin-bottom: 0em;
}

.mb-lg {
  margin-bottom: 2rem;
}

.mb-xxl {
  margin-bottom: 4rem;
}

.ml-xl {
  margin-left: 2.5rem;
}

.mr-xl {
  margin-right: 2.5rem;
}
