.tc-db {
  color: $dark-blue;
}

.tc-lb {
  color: $light-blue;
}

.tc-gr {
  color: $green;
}

.tc-sb {
  color: $sky-blue;
}

.tc-white {
  color: white;
}

.ta-center {
  text-align: center;
}

.as-start {
  align-self: start;
}

.italic {
  font-style: italic;
}

.fw-200 {
  font-weight: 200;
}

.uppercase {
  text-transform: uppercase;
}

// .ts-green {
//   -webkit-text-stroke-width: 0.5px;
//   -webkit-text-stroke-color: $green;
// }
