$non-photo-blue: #84c0c6;
$ash-gray: #9fb7b9;
$almond: #f2e2d2;

$chinese-violet: #67597a;
$english-violet: #544e61;
$slate-gray: #6e8894;
$cambridge-blue: #85baa1;
$honeydew: #ceeddb;
$honeydew--light: #ceeddbba;
$honeydew--lighter: rgba(206, 237, 219, 0.402);

$dark-blue: #0a8691;
$light-blue: #7ac1d0;
$sky-blue: #e1f0f0;
$green: #98bd47;
$forest-green: #78842e;
$whiskey: #d49562;
$beige: #b68e70;
